<% layout('./layouts/boilerplate')%>
    <h1>Login page</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
        </div>
        <button class="btn btn-primary">Login</button>
        <a href="/register" class="btn btn-primary">Sign up</a>

    </form>